<head>
  <% include partials/head %>
</head>
<p>Welcome to your personnal page</p>
<button class="btn btn-success" href="/addmetric" onClick='document.location.href="/addmetric"'>
  Add metric
</button>
<button class="btn btn-primary" href="/show" onClick='document.location.href="/show"'>
  Show metrics
</button>
<button class="btn btn-secondary" href="/show" onClick='document.location.href="/show"'>
  Show metrics in a graph
</button>
<button class="btn btn-danger" href="/delete" onClick='document.location.href="/delete"'>
  Delete
</button>
<p>   </p>
<button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
  Logout
</button>
