<div id="form">

    <head>
        <% include partials/head %>
    </head>
    <p>Welcome to the creating account page</p>
    <hr />
    <form action="/user" method="post">
        <div class="form-group">
            <label for="form_username">Username</label>
            <input id="form_username" type="text" name="username" />
        </div>
        <div class="form-group">
            <label for="form_email">E-mail</label>
            <input id="form_email" type="email" name="email" />
        </div>
        <div class="form-group">
            <label for="form_password">Password</label>
            <input id="form_password" type="password" name="password" />
        </div>
        <div class="form-example">
            <input type="submit" value="Subscribe!">
          </div>
    </form>
    <hr />
</div>